---
layout: default
---
<!-- page.html -->
        <div class="post">
          {%- if page.title != "Projects" -%}
          <header class="post-header my-3">
            <h3 class="post-title">{{ page.title }}</h3>
            <p class="post-subtitle">{{ page.subtitle }}</p>
          </header>
          {%- endif %}
          
          
          <article>
            {{ content }}
          </article>

          {%- if page.related_publications != null and page.related_publications.size > 0 -%}
          {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
          <h2>References</h2>
          <div class="publications">
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
          </div>
          {%- endif %}

        </div>
